<div class="container">
  <h4>Title:</h4>
    <strong><%= @article.title %></strong>
  <p>Posted By: <%= @article.user.email %> <%= time_ago_in_words(@article.created_at) %> ago</p>
  <h4>Body:</h4>
    <p><%= @article.body %></p>


  <h4>Comments:</h4>
    <%= render @article.comments %>
    <% if user_signed_in? %>
  <h4>Reply to Article:</h4>
    <%= render 'comments/form' %><br />
    <% end %>

  <!-- Links at the bottom -->
  <%= link_to 'Back', articles_path, class: 'btn btn-primary'  %>
    <% if user_signed_in? %>
      <% if @article.user_id == current_user.id %>
        <%= link_to 'Edit', edit_article_path, class: 'btn btn-success'  %>
        <%= link_to 'Delete', article_path, method: 'delete', data: {confirm: "Are you sure you want to delete Article #{@article.title}?"}, class: 'btn btn-danger' %>
      <% end %>
    <% end %>
</div>
