<div class="container">
  <div class="card">
    <h1 class="card-header">
      <%= @article.title %>
        <% if user_signed_in? %>
          <!-- Article Owner Links -->
          <% if @article.user_id == current_user.id %>
            <%= link_to 'Edit', edit_article_path, class: 'btn btn-success' %>
            <%= link_to 'Delete', article_path, method: 'delete', data: {confirm: "Are you sure you want to delete Article #{@article.title}?"}, class: 'btn btn-danger' %>
          <% end %>
        <% end %>
        <%= link_to 'Back', articles_path, class: 'btn btn-primary'  %>
    </h1>
    <div class="card-block">
      <h6 class="card-title">
        Posted By: <%= @article.user.email %> <%= time_ago_in_words(@article.created_at) %> ago<br />
        <e>Views:<%= @article.view_count %></e>
      </h6>
      <p class="card-text">
        <%= @markdown.render(@article.body).html_safe %>
      </p>
    </div>
  </div>

  <!-- Comments -->
  <% unless @article.comments.empty? %>
    <h4>Comments:</h4>
  <% end %>

  <%= render @article.comments %>
  <div class="container">
    <% if user_signed_in? %>
      <h4>Reply to Article:</h4>
      <%= render 'comments/form' %><br />
  </div>
  <% end %>
</div>
