<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial</title>
    <%= favicon_link_tag 'ruby.png' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Blog</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item <%= 'active' if current_page?(new_article_path) %>">
              <a class='nav-link' href="<%= new_article_path %>">New Article</a>
            </li>
          <% end %>

          <!-- Search through Articles -->
          <form class="form-inline">
            <%= form_tag(articles_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Articles" %>
            <%= submit_tag "Search" %>
            <% end %>
          </form>
        </ul>

          <!-- Sign Up/Log In/Sign Out logic-->
          <% if user_signed_in? %>

              <!--  This line of code below is exactly the same as the anchor link below it! -->
              <!-- <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %> -->
            <span>
              <a class='navbar-right navbar-text nav-link' data-method="delete" href="<%= destroy_user_session_path %>">Sign Out</a>
            </span>
          <% else %>
          <!-- Form for Sign Up and Log In -->
            <span>
              <a class='navbar-right navbar-text nav-link' href="<%= new_user_registration_path %>">Sign Up</a>
            </span>
            <span>
              <a class='navbar-right navbar-text nav-link' href="<%= new_user_session_path %>">Log In</a>
            </span>
          <% end %>
      </div>
    </nav>

    <!-- Flash Notices -->
    <% unless flash.empty? %>
      <div class="container">
        <% flash.each do |key, value| %>
            <%= value %>
            <% end  %>
          <% end %>
      </div>

    <!-- Yields to the controller -->
    <%= yield %>
  <%= render "articles/footer" %>
  </body>
</html>
